<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=" <%= publication.description %>">
    <meta name="author" content="<%= publication.author %>">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_new.css">
    <title><%= publication.title %></title>
    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/design/placeholder.jpg";
            return true;
        }
    </script>
</head>
<body class="dark-style">
<header class="publication-header">
    <div class="header-title">
        <p><%= publication.title %></p>
    </div>
</header>
<% include header_usr.ejs %>
<div class="dark-style shadow-box-out">
    <div class="content-text publication-info">
        <a href="/publications">
            <button class="control-button">Go back</button>
        </a>
        <div class="shadow-box-in">
            <% include publicationInfo.ejs %>
        </div>
        <p>
            <img class="shadow-box-out" src="/res/images/<%= publication.image_id %>" alt="publication's image"
                 onerror="imgError(this)">
        <p><%= publication.text %></p>
        <% if(user.isAuthorized && ((('isAdmin' in user.info) && user.info.isAdmin ) || String(user.info._id) === String(publication.author._id))){ %>
        <div class="center">
            <form action="remove/<%= publication.id %>" method="post"
                  enctype="application/x-www-form-urlencoded">
                <button type="submit" class="control-button-red">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>